<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 entry-div" >
	<div class="thumbnail entry-padding">
		<h2 class="text-center">Resend confirmation instructions</h2>
		<hr />
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  
		  <%= render 'shared/error_messages', object: f.object %>

		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, class: 'form-control', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
		  </div>

		  <div class="button-center">
		    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
		  </div>
		<% end %>
		<div class="devise-info-bottom">
			<%= render "users/shared/links" %>
		</div>
</div>
</div>
