<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 entry-div">
  <div class="thumbnail entry-padding">
    <h2 class="text-center">Log in</h2>
    <hr />
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <%= f.submit "Log in", class: 'btn btn-block btn-primary' %>
      
    <% end %>
    <div class="devise-info-bottom">
      <%= render "users/shared/links" %>
    </div>
</div>
</div>
