<div class="thumbnail entry-padding" style="background-color: #f1f1f1;">
	<%= form_for @applicant, html: {multipart: true} do |f| %>
		
		<%= render 'applicants/error' %>
		
		<%= f.hidden_field :job_id, value: @job.id%>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

		</div>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :contact %>
			<%= f.telephone_field :contact, class: 'form-control'%>
		</div>
		<div class="form-group">
			<%= f.label :address %>
			<%= f.text_area :address, rows: 3, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label 'Accepted: doc/docx/pdf only' %>
			<%= f.file_field :resume, accept: 'doc, docx, pdf' %> 
		</div>

		<%= f.submit 'Submit', class: 'btn btn-primary' %>
	<% end %>
</div>