


<% if session[:errors] %>
            <div class="alert alert-danger">
            	This form contains <%= pluralize(session[:errors].count, "error") %>
              <ul> 
              <% session[:errors].each do |msg| %>
                  <li class="error"><%= msg %></li>
              <% end %>
              </ul> 
            </div>
            <% session[:errors] = nil %>
<% end %>

