<%= provide(:title, 'Successfull') %>
<%= render 'shared/sidebar_category' %>
<div class="col-sm-9 entry-div">
	<div class="thumbnail entry-padding text-center">
		<div style="padding-top:40px; padding-bottom: 40px;">
			<%= image_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1464876788/check-1-icon_ixensj.png' %>
			<h1>Submission Successful</h1>
			<h3>Thank you for submitting your application to Pinoy Job Portal.</h3>
			<p>
				<%= link_to 'View More Jobs', jobs_url, class: 'btn btn-primary' %>
			</p>
		</div>
	</div>
</div>