<%= link_to job, style: 'color:#282828' do %>
	<div class="thumbnail entry-padding">
		<div class="row">
			<div class="col-sm-6">
				<h3><%= job.position %> </h3>
				<%= number_to_currency(job.salary, unit: 'PHP ') %><br/>
				<em>Category: <%= job.category.name %></em><br>
				<strong><%= job.user.company %></strong><br>
				<%= job.user.address %>

			</div>
			<div class="col-sm-6 hidden-xs hiddem-sm">
				<span class="pull-right">
					<%= if job.user.picture? 
							image_tag job.user.picture.url
						else
							image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
						end
					%>
				</span>
			</div>
		</div>
		<div class="row">	
			<div class="col-sm-12">
				<div class="thumbnail no-border">
				<p><%= truncate(job.summary, length: 200, separator: ' ') %></p>
				<p><em><%= job.updated_at.strftime('%A - %B %d, %Y') %></em></p>
				</div>
			</div>
		</div>
	</div>
<% end %>
