<%= link_to result, style: 'color:#282828' do %>
	<div class="thumbnail entry-padding">
		<div class="row">
			<div class="col-sm-6">
				<h3><%= result.position %> </h3>
				<%= number_to_currency(result.salary, unit: 'PHP ') %><br/>
				<em>Category: <%= result.category.name %></em><br>
				<strong><%= result.user.company %></strong><br>
				<%= result.user.address %>

			</div>
			<div class="col-sm-6 hidden-xs hiddem-sm">
				<span class="pull-right">
					<%= if result.user.picture? 
							image_tag job.user.picture.url
						else
							image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
						end
					%>
				</span>
			</div>
		</div>
		<div class="row">	
			<div class="col-sm-12">
				<div class="thumbnail no-border">
				<p><%= truncate(result.summary, length: 200, separator: ' ') %></p>
				<p><%= result.updated_at.strftime('%B %d') %></p>
				</div>
			</div>
		</div>
	</div>
<% end %>