<div class="col-sm-3 entry-div hidden-sm hidden-xs">
	<div class="thumbnail entry-padding clients">
		<h4 class="text-center">Our Clients</h4>
		<hr />
		<ul class="hor-display">
			<% @clients_logo.each do |client| %>
				<li><%=
						if client.picture? 
							image_tag client.picture.url
						else
							image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
						end 
					%>
					
				</li>
			<% end %>
		</ul>
	</div>
</div>