<% provide(:title, 'Jobs') %>
<%= render 'shared/sidebar_category' %>

<div class="col-sm-9 entry-div">
	<%= render @jobs %>

	<% if @jobs.count >= 10 %>
	<div class="thumbnail text-center">
		<%= will_paginate %>
	</div>
	<% end %>

</div>