<% provide(:title, 'Post a Job') %>
<%= render 'sidebar' %>

<div class="col-sm-9 entry-div">
	<div class="thumbnail entry-padding">
		<h3 class="text-center">Post a Job</h3>
		<hr />
		<div class="row">
			<div class="col-sm-2">
				<div class="thumbnail no-border">
					<%= if current_user.picture?
							image_tag current_user.picture.url
						else
							image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
						end
					%>
				</div>
			</div>
			<div class="col-sm-10 <%= "text-center" if browser.device.mobile? %>" >
				<h3 class="company"><%= current_user.company %></h3>
				<strong>Registrant Name: <%= current_user.name %></strong><br />
					 Date of Registration: <%= current_user.created_at.strftime('%B %d, %Y') %><br >
			</div>
			<hr class="line" />

		</div>

		<div class="row thumbnail entry-padding no-border">
			<div class="col-sm-12">
			<%= form_for @job do |f| %>
				<%= render 'shared/error_messages', object: f.object %>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-5 no-box-padding">
							<%= f.label :position %>
							<%= f.text_field :position, class: 'form-control' %>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-5 no-box-padding">
							<%= f.label :category %>
							<%= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: 'Select Category'}, {class: 'form-control'} %>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-5 no-box-padding">
							<%= f.label :salary %>
							<div class="input-group">
								<div class="input-group-addon">PHP</div>
								<%= f.text_field :salary, class: 'form-control' %>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 no-box-padding">
							<%= f.label :summary %>
							<%= f.text_area :summary, class: 'wysihtml5 form-control' %>
						</div>
					</div>
				</div>

				<div class="button-center">
					<%= f.submit 'Post Job', class: 'btn btn-primary' %>
				</div>
			<% end %>
			</div>
		</div>
	</div><!-- thumbnail first -->


</div>
