<%= provide(:title, 'Show Result') %>
<%= render 'shared/sidebar_category' %>

<div class="col-sm-9 entry-div">

	<% if @results.present? %>
		<%= render @results %>
	<% else %>
		<%= render @jobs %>
	<% end %>


	<% if @results.present? %>
		<% if @results.count >= 10 %>
			<div class="thumbnail text-center">
				<%= will_paginate @results %>
			</div>
		<% end %>
	<% else %>
		<div class="thumbnail text-center">
			<%= will_paginate @jobs %>
		</div>
	<% end %>


</div>