<% provide(:title, 'Job Result') %>
<%= render 'shared/sidebar_category' %>
<div class="col-sm-9 entry-div">

	<div class="thumbnail entry-padding">
		<%=  if @job.user.picture?
				image_tag @job.user.picture.url
			else
				image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
			end
		 %>
		<h3 class="text-center"><%= link_to @job.user.company, show_employer_path(@job.user) %></h3>
		<hr class="line">

		<div class="thumbnail no-border">
			<center>Date Posted: <%= @job.created_at.strftime('%B %d, %Y') %></center>
			<p class="title">Position: <%= @job.position %></p>
			<p class="text-center"><strong>Salary: <%= number_to_currency(@job.salary, unit: 'PHP') %></strong></p>
			<hr class="line">
			<p>
				<h3 class="text-center">Summary</h3>
				<%= @job.summary.html_safe %>
			</p>
			<hr class="line" />
			<p>
				<h3 class="text-center">Company's Profile</h3>
				<p>
					<strong>Address: <%= @job.user.address.html_safe %></strong>
				</p>
				<p>
					<strong>Overview</strong><br />
					<%= @job.user.overview.html_safe %>
				</p>
			</p>
			<div class="button-center">
				<%= link_to 'View More Jobs', show_employer_path(@job.user), class: 'btn btn-warning' %>
			</div>
		</div>

			<div class="row" style="background-color: #f1f1f1"  >
				<div class="col-sm-8 entry-div">
					<h3>Submit Your Application</h3>
					<%= render 'applicants/applicant_form' %>
				</div>
			</div>

	</div><!-- End of thumbnail main -->

</div>
