<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 entry-div">
	<div class="thumbnail entry-padding">
	<h2 class="text-center">Resend unlock instructions</h2>
	<hr />
	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  </div>

	  <div class="button-center">
	    <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>
	<div class="devise-info-bottom">
		<%= render "users/shared/links" %>
	</div>
	</div>
</div>