
<div class="row">
	<div class="col-sm-12 entry-div">
			<div class="thumbnail entry-padding">
				<% if @app_jobs.present? %>
					<h3 class="text-center">Candidates/Applicants</h3>
					<div class="table-responsive">
						<table class="table">
							<% @app_jobs.each do |apps| %>
								<thead>
									<th class="danger text-center" colspan="5"><%= apps.position %></th>
								</thead>
								<thead>
									<th>Name</th>
									<th>Date Applied</th>
									<th>Email</th>
									<th>Contact</th>
									<th ></th>
								</thead>
								<% apps.applicants.each do|app| %>
									<tr class="active">
										<td><%= app.name %></td>
										<td class="hidden-xs hidden-sm"><%= app.created_at.strftime('%B %d, %Y') %></td>
										<td><%= app.email %>
										<td><%= app.contact %>
										<td>
											<span class="pull-right">
										<!--		 #link_to 'View', show_applicant_path(app), remote: true  -->
											<%= link_to 'Download CV', app.resume_url %>
											<%= link_to 'Delete', app, method: :delete, data: {confirm: "Are you sure?"} %>	

											</span>
										</td>
									</tr>
								<% end %><!--- eand of apps.applicat.each-->
						<% end %><!-- end of @app-jobs -->
						</table>
					</div>
					<%= will_paginate @app_jobs, class: 'text-center', param_name: 'app_jobs' %>
				<% else %>
					<div class="alert alert-warning text-center"><h3>No Applicants</h3></div>
				<% end %>
			</div>
	</div>
</div>
 <div id="commentUserModal"> <%= render 'show_applicant' %></div>