<div class="row">
		<div class="col-sm-12 entry-div">
			<div class="thumbnail entry-padding">
				<% if @jobs.present? %>
					<h3 class="text-center">Your Posted Jobs</h3>
					<table class="table">
						<thead>
							<th>Job</th>
							<th colspan="2" class="hidden-sm hidden-xs">Date Posted / Updated</th>
							
						</thead>
						<% @jobs.each do |job| %>
								<tr class="active">
									<td><%= job.position %></td>
									<td class="hidden-xs hiddnen-sm"><%= job.updated_at.strftime('%B %d, %Y') %></td>
									<td style="text-align: right;">
									<%= link_to 'View', job %>
									<%= link_to 'Edit', edit_job_path(job) %>
									<%= link_to 'Delete', job, method: :delete, data: {confirm: "Are you Sure?"} %>
									
									</td>
								</tr>
						<% end %>

						</table>
						<%= will_paginate @jobs, class: 'text-center', param_name: 'jobs_page' %>
						
				<% else %>
					<div class="alert alert-warning text-center"><h3>No Posted Jobs</h3></div>
				<% end %>
			

			</div>
		</div>
	</div>
