<div id="commenterModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-md"> 
    <div class="modal-content"> 
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Candidate Information</h3>
      </div>
      <div class="modal-body" id="commentUserModal"> 
        <div class="row">
          <div class="col-sm-6">
            <% if @applicant.present? %>
              <h3><%= @applicant.name %></h3>
              <p>Email: <%= @applicant.email %></p>
              <p>Address: <%= @applicant.address %></p>
              <p>Contact: <%= @applicant.contact %></p>
              <p><%= link_to 'Download CV', @applicant.resume.url %></p>
            <% end %>
          </div>
          <div class="col-sm-6 hidden-xs hidden-sm">
            <p>
              <%= if current_user.picture?
                    image_tag current_user.picture.url, class: 'pull-right'
                  else
                    image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg', class: 'pull-right'
                  end
                %>  
            </p>
          </div>
        </div><!-- end of row -->
      </div> <!-- End of modal body -->
      <div class="modal-footer"> 
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button> 
      </div> 
    </div> <!-- modal-content --> 
  </div> <!-- modal-dialog --> 
</div> <!-- modal --> 