<% provide(:title, "#{current_user.company}") %>
<div class="col-sm-12 entry-div">
	<div class="thumbnail">
		<div class="thumbnail entry-padding no-border">
			
			<div class="row">
				<div class="col-sm-2">
					<div class="thumbnail no-border">
						<%= if current_user.picture?
								image_tag current_user.picture.url
							else
								image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
							end
						%>
					</div>
				</div>
				<div class="col-sm-4 <%= "text-center" if browser.device.mobile?%> ">
					<div class="thumbnail no-border">
						<h3 class="company"><%= current_user.company %></h3>
						 <strong>Registrant Name: <%= current_user.name %></strong><br />
						 Date of Registration: <%= current_user.created_at.strftime('%B %d, %Y') %><br >
						 <%= link_to 'Post a Job', new_job_path, class: 'btn btn-primary', style: 'margin-top: 10px;' %>
					</div>
				</div>	
			</div>
		</div>
		
	<!-- Insert posted Jobs -->
	<%= render 'posted_jobs' %>
	
	<!-- Insert candidate list -->	
	<%= render 'candidates_jobs' %>
	</div><!-- main thumbnaill -->
</div><!-- main div -->