<% provide(:title, "#{@employer.company}") %>
<%= render 'shared/sidebar_category' %>
<div class="col-sm-9 entry-div">
	<div class="thumbnail entry-padding">
		<%=  if @employer.picture?
				image_tag @employer.picture.url
			else
				image_tag 'http://res.cloudinary.com/gibetirol/image/upload/c_scale,h_150,w_150/v1464517296/company-logo-designs_zf13mh.jpg'
			end
		 %>
		<h3 class="text-center"><%= @employer.company %></h3>
		<hr class="line" />
		<div class="thumbnail no-border">
			<h3>Address</h3>
			<p>
				<%= @employer.address.html_safe %>
			</p>
			<h3>Company's Overview</h3>
			<p>
				<%= @employer.overview.html_safe %>
			</p>
			<h3>Benefits</h3>
			<p>
				<%= @employer.benefits %>
			</p>
			<h3>Working Days and Hours</h3>
			<p>
				<%= @employer.working_hours %>
			</p>
			<hr class="line" />
			<h3>Jobs Available: <%= @employer.jobs.count %></h3>
			<ul>
						<% @employer.jobs.each do |job| %>
							<li><%= link_to job.position, job %></li>
						<% end %>
			</ul>
		</div><!-- end of thumbnail -->
	</div><!-- end of entry-padding -->
</div><!-- end of column 9 -->