<div class="thumbnail entry-padding">
	<div class="thumbnail no-border">
	<%= link_to (image_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1463751114/logo_l1qd3i.png'), jobs_path%>
	<h1 class="text-center">No Jobs Posted</h1>

	<ul class="inline-display">
		<% @clients.each do |client| %>
			<li><%= image_tag client.picture.url if client.picture? %></li>
		<% end %>
	<ul>
	</div>
</div>