<div class="col-sm-3 entry-div hidden-sm hidden-xs">
	<div class="thumbnail entry-padding clients">
		<h4 class="text-center">Categories</h4>
		<hr />
		<ul class="hor-display-category" style="padding-left: 15px; padding-right: 15px;">
			<% @categories_result.each do |category| %>
				<li><%= link_to category.name + " (#{category.jobs.count}) ", category  %></li>
			<% end %>
		</ul>
	</div>
</div>