
Pinoy Job Portal

Hi <%= @applicant.name %>
	
Your application has been submitted!

Thank you for submitting your application to Pinoy Job Portal. We wish you good luck!

Always;

Your Pinoy Job Portal

