
<div style="background-color: #f1f1f1; padding: 30px; text-align: center;" >
	<h1 class="text-center">Pinoy Job Portal</h1>
	<strong>Hi <%= @applicant.name %></strong>
	<p>
		Your application has been submitted!
	</p>
	<p>
		Thank you for submitting your application to Pinoy Job Portal. We wish you good luck!
	</p>
	<p style="padding-bottom: 20px;">
		Always;
	</p>
	<p>
		Your Pinoy Job Portal
	</p>
	<p>
		<%= link_to 'View More Jobs', jobs_url %>
	</p>
</div>