<div class="col-sm-12 entry-div">
	<div class="thumbnail entry-padding" style="padding: 70px 50px;">
		<%= link_to image_tag('http://res.cloudinary.com/gibetirol/image/upload/v1463751114/logo_l1qd3i.png'), jobs_path %>
		<div>
			<div class="text-center">
		
				<h2>Thank you!</h2>
				<p style="font-size: 16px;">
					<em>
						
							We have received your messages and will respond promptly<br />
							If you would like immediate assistance, please free to call us Monday - Friday at 09239248483

					
					</em>
					<br /><%= link_to "View More Jobs", jobs_url %> | 
					<%= link_to "Employer? Register with us", new_user_registration_path %>
				</p>
			
			</div>
		</div>
	</div>
</div>