<% provide(:title, 'Contact Us') %>
<div class="col-sm-12 entry-div">
	<div class="thumbnail map-padding">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3925.436959365406!2d123.8979743!3d10.3068719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a9994532072beb%3A0xb328328e404dffc3!2sCentro+Maximo!5e0!3m2!1sen!2s!4v1466143964821" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		
		<div class="col-sm-12 thumbnail">
			<div class="col-sm-7 thumbnail no-border" style="border-right: 1px solid #d3d3d3; padding-left: 30px;padding-right: 30px;">
				<h3 class="text-center">Send Us A Message</h3>
				<%= form_for @contact do |f| %>
					
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control', required: true%>
					</div>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, class: 'form-control', required: true %>
					</div>
					<div class="form-group">
						<%= f.label :message %>
						<%= f.text_area :message,rows: 5, class: 'form-control', required: true %>
					</div>
					<div class="form-group hidden">
						<%= f.label :nickname %>
						<%= f.text_field :nickname, class: 'form-control', hint: 'leave this blank' %>
					</div>
					<div class="text-center">
						<%= f.submit 'Send Message', class: 'btn btn-lg btn-warning text-center' %>
					</div>
				<% end %>
			</div>
			<div class="col-sm-5 thumbnail no-border"  style= "padding-left: 30px;padding-right: 30px;">
				<h3 class="text-center">Visit Us</h3>
				<p>
					<strong>Address:</strong> Suite 107 Centro Maximo, Jakosalem St., Cebu City
				</p>
				<p>
					<strong>Email:</strong> info@cebubiz.com
				</p>
				<p>
					<strong>Contact Number:</strong> 09239248483
				</p>

			</div>
		</div>
		
	</div><!-- map padding -->

	
</div>

