<% provide(:title, 'Edit Password') %>
<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 entry-div">
  <div class="thumbnail entry-padding">

      <h2 class="text-center">Change your password</h2>
      <hr />

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/error_messages',  object: f.object %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="button-center">
          <%= f.submit "Change my password", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="devise-info-bottom">
        <%= render "users/shared/links" %>
      </div>
  </div>
</div>

