@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

$white: #ffffff;
$gray-dark: #282828;

body {
    background:  #e5e5e5;
    padding-top: 50px;
}

.white {
  background: #ffffff;
}

.sidebar {
  margin-top: 20px;
  background: $white;
}

.content {
  margin-top: 20px;
  background: $white;
  box-shadow: 1px 1px 1px #d3d3d3;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fac802;  /*Sets the text hover color on navbar*/

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #010746;
}

.navbar-default {
  background-color: #010746;
  border-color: #010746;
  margin-bottom: 0px;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fac802;
  text-decoration: none;
  background-color: #010746;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}
.navbar-default .navbar-brand {
  color: #fff;
}


/* footer */
.footer-container {
    background: #5d5d5d;
    color: #fff;
    with: 100%;
    padding: 10px;
    margin-top: 20px;
}

.footer-latest-job {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  li {
    float: left;
    margin: 3px;
    a {
        display: block;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        background-color:  #010746; 
        &:hover {
          background-color: #f0ad4e;
          color: #000;
        }
      }
    }
  }

  .footer-bottom {
    background-color: #010746;
    color: #fff;
    width: 100%;
    margin: 0px;
    padding: 10px;
    .footer-right {
      text-align: right;
    }
    .footer-left {
      text-align: left;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #f0ad4e;
      }
    }

  }


/* slider image */
.image-slider {

 min-height: 100%;
 min-width: 100%;
}


.full-width {
    width: 100%;
    background-color: rgba(255,255,255, 0.5);
}
.carousel-caption {
     position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    color: #000;

}
.img-res {
  width: 100%;
  min-height: 100%;
}

/* margin for sidebar and conteint */
.content-margin{
  margin-top: 20px;
}



/* horizontal line */

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid crimson;
    margin: 10px auto;
    padding: 0; 
    width: 40%;

}

/* thumbnail */

.thumbnail {
  margin-bottom: 10px;
  /* side bar */
  h4 {
    color: $white;
    background: $gray-dark;
    text-align: center;
    margin: 0px;
    padding:10px;
  }
}

/*entry */
.entry-div {
  margin-top: 10px;
 
}
.entry-padding {
  padding: 15px;
}

/* google map */
.map-padding {
  padding: 0;
}
/* user view %*/

.user-view {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}


  .company {
    padding: 0px;
    margin: 0px;

}
.no-border {
  border: 0px;

}

/* for singup fogrot password */
.devise-info-bottom {
  padding: 20px;
  text-align: center;
}

.button-center {
  padding: 10px;
  text-align: center;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

/*dashboard*/

  .dashboard-title {
    background-color: #5d5d5d;
    border-radius: 25px;
    padding: 15px 100px;
    margin: 10px;
    color: #fff;
  }

  /* clients */
  .clients {
    padding: 0px;
  }

  .hor-display {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      padding: 10px 0;

    }
  }
  .inline-display {
    list-style: none;
    margin: 0;
    padding: 0;
      li {
        display: inline;
      }

  }

/* jobs-candidates */
.jobs-candidates {
  list-style: none;
  margin: 10px 20px;
  text-align: left;
  li {
    padding: 10px;
    border-bottom: 1px solid #d3d3d3
  }
}
.table-margin {
  width: 500px;
}

/* line */
.line {
  width: 100%;
  border-top: 1px solid #e3e3e3;
}

/* input info */
.no-box-padding {
  margin: 0;
  padding: 0;
 
}

/*jobs */
.title {
  font-size: 2em;
  font-weight: bold;
  color: #010746;
  text-align: center;
}

/* side bar category */
.hor-display-category {
  list-style: none;
  text-align: left;
 li {
    padding: 5px;
  } 
}

/* font-color */
.dark-font {
  color: #ffffff
}



a {
  .thumbnail {
    .entry-padding {
      color: black;
    }
  }
}
/* job info */

/* advance-search */
.search-padding {
    padding: 0px;
  }

/* Veritical align */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* email */
.email-message {
  padding: 40px;
  text-align: center;
 
}

/* active admin */
