<div class="thumbnail entry-padding">
	<div class="thumbnail no-border">
		<h3><%= category.name %></h3>
		<p><i>Total Number of Jobs: <%= category.jobs.count %></i></p>
		<p><%= link_to 'View Jobs', category, class: 'btn btn-primary' %></p>
	</div>
</div>