<div class="col-sm-offset-3 col-sm-6 entry-div">
	<div class="thumbnail entry-padding">
		<h3 class="text-center">Category</h3>
		<hr />
		<%= form_for @category do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="form-group">
				<%= f.text_field :name, class: 'form-control', placeholder: 'Category Name' %>
			</div>
			<%= f.submit 'Save', class: 'btn btn-block btn-warning' %>
		<% end %>
	</div>

</div>