<%= provide(:title, "#{@category.name}" ) %>
<%= render 'shared/sidebar_category' %>

<div class="col-sm-9 entry-div">
	<%= render @jobs %>
	<%= render 'shared/no_job' if @jobs.count == 0 %>
	<% if @jobs.count >= 10 %>
		<div class="thumbnail text-center">
			<%= will_paginate @jobs %>
		</div>
	<% end %>
</div>
