
<div class="footer-container">
   
      <div class="row">
   		<div class="col-sm-6">
   			<h3 class="text-center">Latest Jobs</h3>
   			<ul class="footer-latest-job">
   				<% @latest_jobs.each do |latest_job| %>
   					<li><%= link_to latest_job.position, latest_job %></li>
   				<% end %>
   			</ul>
   		</div>
   		<div class="col-sm-6">
   			<h3 class="text-center">Our Clients</h3>
   			<ul class="footer-latest-job">
   				<% @clients.each do |client| %>
   					<li><%= link_to client.company, show_employer_path(client) %></li>
   				<% end %>
   			</ul>
   		</div>
   		
      </div><!-- end for Row -->
   
</div> <!-- End of  footer container -->
