<div class="footer-bottom">
	<div class="row">
		<div class="col-sm-6 footer-left">
			<%= link_to 'About Us', '#' %> |
			<%= link_to 'Terms of Use', '#' %> |&nbsp;
			<%= link_to 'Privacy Policy', '#' %> |&nbsp;
			<%= link_to 'Send Feedback', contact_us_path %>

		</div>
		<div class="col-sm-6 footer-right">
			Copyright &copy; 2018 Pinoy Job Portal
		</div>
	</div>
</div>
