
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="#">Job Pinoy Portal</a>
    </div><!-- end of navbar-header -->

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" >
        <li><%= link_to 'Home', root_url %></li>
        <li><%= link_to 'Contact Us', contact_us_path %></a></li>
        <li><%= link_to 'View Jobs', jobs_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Dashboard', current_user %></li>
                    <li><%= link_to 'Edit My Profile', edit_user_registration_path %></li>
                    <li><%= link_to 'Signout', destroy_user_session_path, method: :delete %></li>
                </ul>
           </li><!-- end drop down -->
        <% else %>
            <li><%= link_to 'Employers', new_user_session_path %> </li>
        <% end %>
      </ul>

    </div><!-- nav-collapse -->

  </div>
</nav>