<div class="container-fluid white">
	<%
		if browser.device.mobile?
			logo = search = 'text-center' 
		else
			logo = 'pull-left'
			search = 'pull-right'
		end if
	%>
	<div class="container" style="padding-top: 10px; padding-bottom: 10px;">
		<div class="row">
			<div class="col-sm-5 <%= logo %>">
				<%= image_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1463751114/logo_l1qd3i.png' %>
			</div>
			<!--
			<div class="col-sm-7">
				<form class="form-inline <%= search %>">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search Jobs/Keywords">
					</div>
					<button type="submit" class="btn btn-warning">
						<span class="glyphicon glyphicon-search"></span>&nbsp;Search
					</button>
				</form>		
			</div>	
			-->
			<div class="col-sm-7">
				<%= form_tag(show_result_jobs_path, method: :get, id: :search_form, class: "form-inline #{search}" ) do %>
						<div class="form-group">
							<%= text_field_tag :search, params[:search], placeholder: 'Jobs/Keywords', class: 'form-control' %>
						</div>
					
						<%= button_tag type: 'submit', class: 'btn btn-warning' do %>
							<span class="glyphicon glyphicon-search"></span>&nbsp;Search
						<% end %>

				<% end %>
			</div>

		</div>
	</div>

</div>