
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" style="position: fixed; padding: 0; top: 0;">
			<div id="job-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#job-slider" data-slide-to="0" class="active"></li>
					<li data-target="#job-slider" data-slide-to="1"></li>
					<li data-target="#job-slider" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="carousel-caption">
							<div class="full-width text-center">
								<h1>Find the best jobs around the Philippines</h1>
								<p>
									<%= link_to 'Latest Jobs', jobs_path, class: 'btn btn-success' %>
									<%= link_to 'Employer? Register With Us', new_user_registration_path, class: 'btn btn-warning' %>
								</p>
							</div>
						</div>


					<div class="item active">
						<%= image_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1466610232/slide1_bhkajq.jpg', class: 'img-res' %>
											</div><!-- end of item i -->
					<div class="item">
						<%= image_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1466416693/slide-5_kxnamr.jpg',class: 'img-res' %>
					</div><!-- end of item 2 -->

					<div class="item">	
						<%= image_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1466610232/slide2_pb1bru.jpg', class: 'img-res' %>
					</div><!-- end of item 3 -->

				</div><!-- carouse inner -->

				<!-- Controls for Next and Previous -->
				<!-- controls or next and prev buttons -->
 						<a class="left carousel-control" href="#job-slider" role="button" data-slide="prev">
 							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 							<span class="sr-only">Previous</span>
 						</a>
 						<a class="right carousel-control" href="#job-slider" role="button" data-slide="next">
 							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
 							<span class="sr-only">Next</span>
 						</a>
			</div>
		</div>
	</div>
</div>


