<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'http://res.cloudinary.com/gibetirol/image/upload/v1466582511/logo_axgudc.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <%= render 'layouts/header' %>
    <%= render 'layouts/slider' if current_page?(controller: '/static_pages', action: 'index') %>
    <%= render 'layouts/header2' unless current_page?(controller: '/static_pages', action: 'index') %>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <% flash.each do |key,value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' unless current_page?(controller: '/static_pages', action: 'index') %>   
    <%= render 'layouts/footer2' unless current_page?(controller: '/static_pages', action: 'index') %>
    <%= debug(params) if Rails.env.development? %>

    
</body>
</html>
