<% provide(:title, 'Edit User') %>
<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3 entry-div">
  <div class="thumbnail entry-padding">
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
      <hr />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :company %><br />
          <%= f.text_field :company, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_area :address,  class: 'wysihtml5 form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :overview, 'Company Overview' %><br />
          <%= f.text_area :overview, class: 'wysihtml5 form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :working_hours %><br />
          <%= f.text_field :working_hours, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :benefits, 'Benefits' %><br />
          <%= f.text_area :benefits,  class: 'wysihtml5 form-control' %>
        </div>

         <div class="form-group">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="button-center">
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="devise-info-bottom">
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
  </div>
</div>