
<% provide(:title,  'Register') %>
<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3 entry-div">
  <div class="thumbnail entry-padding">
    <h2 class="text-center">Sign Up</h2>
    <hr />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :company %><br />
          <%= f.text_field :company, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_area :address, class: 'wysihtml5 form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :overview, 'Company Overview' %><br />
          <%= f.text_area :overview, class: 'wysihtml5 form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :working_hours %><br />
          <%= f.text_field :working_hours, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :benefits, 'Benefits' %><br />
          <%= f.text_area :benefits, class: 'wysihtml5 form-control' %>
        </div>

        <div class="form-group">
        
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="button-center">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>

      <% end %>
      <div class="devise-info-bottom">
        <%= render "users/shared/links" %>
      </div>
  </div>
</div>